block content
  .form-wrapper
    h1 Update Soccer Players Form | Integrating With HubSpot I Practicum

    // Form for updating custom object
    form(action="/update-cobj", method="post")
      .form-group
        label(for="name") Name:
        input(type="text", id="name", name="name", class="form-control", placeholder="Enter player's name")
      
      .form-group
        label(for="field_number") Field Number:
        input(type="text", id="field_number", name="field_number", class="form-control", placeholder="Enter player's field number")
      
      .form-group
        label(for="team") Team:
        input(type="text", id="team", name="team", class="form-control", placeholder="Enter player's team")
      
      .form-group
        label(for="shooting_foot") Shooting Foot:
        select(id="shooting_foot", name="shooting_foot", class="form-control")
          option(value="Right Foot") Right Foot
          option(value="Left Foot") Left Foot
      
      button.btn.btn-primary(type="submit") Submit

  // Link to return to homepage
  a.btn.btn-secondary(href="/") Return to the homepage
